dialog {
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.dialog-footer {
  display: flex;
  gap: 1em;
  justify-content: end;
}

.dialog-footer > button {
  min-width: 60px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

form {
  display: grid;
  gap: 2em;
  margin: 1em auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form label {
  font-size: 12px;
}

form input,
form select {
  padding: 0.5em;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  color: gray;
  width: 20em;
}

form select {
  width: 21em;
}

.add-btn {
  background: black;
  color: white;
  border: none;
}

.cancel-btn {
  color: black;
  background: white;
  border: 2px solid black;
}

.icon-text #rupee-icon {
  position: absolute;
}

.icon-text input {
  text-indent: 1em;
}
