dialog {
  border: none;
  box-shadow: var(--elevation-2);
}

.dialog-footer {
  display: flex;
  gap: var(--space-4);
  justify-content: end;
}

.dialog-footer > button {
  min-width: 60px;
  padding: var(--space-1);
  border-radius: var(--space-1);
  outline: none;
}

form {
  display: grid;
  gap: var(--space-4);
  margin: var(--space-2) auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}

form > div {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

form input,
form select {
  padding: var(--space-2);
  border: none;
  border-bottom: var(--primary-border);
  outline: none;
  width: 260px;
}

form select {
  width: 275px;
}

.add-btn {
  background: var(--primary-color);
  border: none;
  color: var(--background-color);
}

.cancel-btn {
  background: none;
  border: none;
  color: var(--primary-color);
}

.icon-text #rupee-icon {
  position: absolute;
}

.icon-text input {
  text-indent: var(--space-4);
}
