#welcome-main-container {
  text-align: center;
  height: 400px;
}

#info-txt {
  font-style: italic;
  color: var(--positive-color);
}

#welcome-add-btn {
  border: none;
  font-size: var(--button);
  padding: var(--space-3);
  margin: var(--space-8);
  color: var(--background-color);
  background: var(--text-color);
  border-radius: var(--space-3);
}
