#summary-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#year-select-field {
  border: none;
  outline: none;
  font-size: 12px;
}

#summary-main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin: 1em auto;
  padding: 1em;
  border: 1px solid #9e9e9e;
  border-radius: 12px;
}

#summary-main-container > div {
  display: flex;
  flex-direction: column;
}

:is(#income, #expenses, #balance) > span:first-child {
  font-size: 0.5em;
}

:is(#income, #expenses, #balance) > span:last-child {
  font-size: 1em;
  font-weight: 700;
}
