#summary-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#summary-main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-4);
  margin: var(--space-4) auto;
  padding: var(--space-4);
  border: var(--primary-border);
  border-radius: var(--space-3);
}

#summary-main-container > div {
  display: flex;
  flex-direction: column;
}

:is(#income, #expenses, #balance) > span:last-child {
  font-size: var(--subtitle);
  font-weight: var(--font-bold);
}
