#category-container {
  display: grid;
  gap: var(--space-8);
  border-bottom: var(--primary-border);
  grid-template-columns: 1fr;
  height: auto;
}

#category-container ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  list-style: none;
  width: fit-content;
  padding: 0;
  overflow: scroll;
  width: 100%;
  max-height: 300px;
}

#category-container li {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  border-bottom: var(--primary-border);
}

#category-container .delete-icon {
  color: var(--negative-color);
  cursor: pointer;
}

#category-container .delete-icon:hover {
  color: var(--negative-hover);
}

#category-container .edit-icon {
  cursor: pointer;
  justify-self: center;
}

#add-category {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  font-size: var(--button);
  grid-column: auto;
}

#add-category input {
  padding: var(--space-2);
  border: var(--primary-border);
  border-radius: var(--space-2);
}

#add-category button {
  padding: var(--space-4);
  border-radius: var(--space-3);
}

#add-category select {
  padding: var(--space-4);
  border: none;
  border-bottom: var(--primary-border);
  outline: none;
}

.edit-input {
  padding: var(--space-1);
  border-radius: var(--space-1);
  border: var(--primary-border);
  grid-column: span 2;
}

.save-icon {
  align-self: center;
  cursor: pointer;
}

.categories {
  width: 100%;
  border-top: var(--primary-border);
  padding: var(--space-4);
}
