#category-container {
  display: grid;
  gap: 2em;
  border-bottom: 1px solid #9e9e9e3b;
  grid-template-columns: 1fr;
  height: auto;
}

#category-container ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  width: fit-content;
  padding: 0;
  overflow: scroll;
  width: 100%;
}

#category-container li {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  border-bottom: 1px solid #9e9e9e3b;
}

#category-container .delete-icon {
  color: var(--expense-color);
  cursor: pointer;
}

#category-container .edit-icon {
  cursor: pointer;
  justify-self: center;
}

#add-category {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 1em;
  grid-column: auto;
}

#add-category input {
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
  font-weight: 600;
}

#add-category button {
  padding: 10px;
  border-radius: 10px;
}

#add-category select {
  padding: 0.5em;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.edit-input {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #000000;
  grid-column: span 2;
}

.save-icon {
  align-self: center;
  cursor: pointer;
}

.categories {
  width: 100%;
  border-top: 1px solid #9e9e9e3b;
  padding: 1em;
}
