#header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#page-title {
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: var(--font-regular);
  font-size: var(--headline);
  user-select: none;
  cursor: pointer;
}

#toggle-icon {
  justify-self: end;
  cursor: pointer;
}
