@media (min-width: 768px) {
  #add-transaction-dialog form {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #transactionList-main-container {
    height: 60vh;
  }

  #transactionList-main-container ul li {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }

  #transactionList-main-container ul li span:first-child {
    grid-column: span 5;
  }

  #transactionList-main-container ul li span:nth-child(2) {
    grid-column: span 1;
  }

  #transactionList-main-container ul li span:last-child {
    justify-self: start;
  }

  #transactionList-main-container ul li span:is(:nth-child(4), :nth-child(5)) {
    font-size: var(--body-1);
  }

  #category-container {
    grid-template-columns: repeat(4, 1fr);
    height: 400px;
  }

  #add-category {
    grid-column: span 2;
  }

  .categories {
    border-left: var(--primary-border);
    border-top: none;
  }
}
