@media (min-width: 768px) {
  #add-transaction-dialog form {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #transactionList-main-container {
    font-size: 1em;
  }

  #transactionList-main-container ul {
    font-size: 1em;
  }

  #transactionList-main-container ul li {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }

  #transactionList-main-container ul li span:first-child {
    grid-column: span 5;
  }

  #transactionList-main-container ul li span:nth-child(2) {
    grid-column: span 1;
  }

  #transactionList-main-container ul li span:last-child {
    justify-self: start;
  }

  :is(#income, #expenses, #balance) > span:first-child {
    font-size: 0.7em;
  }

  :is(#income, #expenses, #balance) > span:last-child {
    font-size: 1.5em;
    font-weight: 700;
  }

  #category-container {
    grid-template-columns: repeat(4, 1fr);
    height: 400px;
  }

  #add-category {
    grid-column: span 2;
  }

  .categories {
    border-left: 1px solid #9e9e9e3b;
    border-top: none;
  }
}
